$body-color: #fff;
$top-padding: 120px;
 
body {
  background-color: $body-color;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Playfair Display', serif;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

p {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
  line-height: 1.2em;
  letter-spacing: 0.2px;
  opacity: 0.7;
}

.container {
  position: relative;
  padding-top: $top-padding;
  margin-left: 50px;
  display: grid;
  grid-template-columns: 70% 20px 25%;
  max-height: 90vh;
  #canvas-container {
    display: flex;
    justify-content: center;
  }
}

#controls {
  position: relative;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 40px 0;
  max-width: 300px;
  min-width: 200px;
  padding: 10px;
  // box-shadow: 20px 20px 20px 1px #ccc;
}