$body-color: #fff;
$top-padding: 120px;
$primary-color: rgb(214, 3, 3);
 
body {
  background-color: $body-color;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Playfair Display', serif;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

p {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
  line-height: 1.2em;
  letter-spacing: 0.2px;
  opacity: 0.7;
}

label {
  background-color: $primary-color;
  padding: 10px;
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 550;
  letter-spacing: 0.3px;
  font-size: 14px;
  display: block;
  cursor: pointer;
  input[type=file] {
    display: none;
  }
  &:hover {
    background-color: lighten($color: $primary-color, $amount: 5);
    opacity: 0.7;
  }
}

.container {
  position: relative;
  padding-top: $top-padding;
  margin-left: 50px;
  display: grid;
  grid-template-columns: 70% 20px 25%;
  grid-template-rows: 50px auto;
  max-height: 90vh;
  #canvas-container {
    display: flex;
    justify-content: center;
  }

  .row1 {
    display: flex;
    justify-content: space-around;
    grid-row: 1;
  }

  .row2 {
    grid-row: 2;
  }
}

#controls {
  position: relative;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 40px 0;
  max-width: 300px;
  min-width: 200px;
  padding: 10px;
  grid-row: 2;
  grid-column: 3;
  // box-shadow: 20px 20px 20px 1px #ccc;
}

.btn {
  border: none;
  border-radius: 0;
  padding: 10px;
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 550;
  letter-spacing: 0.3px;
  font-size: 14px;
  &.primary {
    background: $primary-color;
    &:hover {
      background-color: lighten($color: $primary-color, $amount: 5);
      opacity: 0.7;
    }
  }
}