$body-color: #fff;
$top-padding: 20px;
$primary-color: rgb(214, 3, 3);
$green: green;
$blue: rgb(39, 70, 247);

 
body {
  background-color: $body-color;
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}

nav {
  display: flex;
  font-size: 20px;
  position: relative;
  z-index: 10;
  text-align: center;
  align-items: center;
  float: right;

  button {
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid darkgray;
    color: darkgray;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 1.2px;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    outline: none;

    &.active {
      span {
        opacity: 0.7;
      }
      color: white;
      background-color: $blue;
    }
  }
}

h1 {
  font-family: 'Playfair Display', serif;
  letter-spacing: 0.3px;
  text-transform: uppercase;

  &.title {
    font-size: 1.7em;
    margin: 0 20px 0 0;
  }
}

p {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
  line-height: 1.2em;
  letter-spacing: 0.2px;
  opacity: 0.7;
}

.bg-red {
  background-color: $primary-color;
}

.bg-green {
  background-color: $green;
}

.bg-blue {
  background-color: $blue;
}

label {
  padding: 10px;
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 550;
  letter-spacing: 0.3px;
  font-size: 14px;
  display: block;
  cursor: pointer;
  input[type=file] {
    display: none;
  }
  &:hover {
    background-color: lighten($color: $primary-color, $amount: 5);
    opacity: 0.7;
  }
}

main {
  position: relative;
  margin: auto;
  max-width: 1500px;
  min-width: 990px;
}

#gui {
  position: absolute;
  // left: 73%;
  left: 50px;
  z-index: 10;
}

.container {
  position: relative;
  padding-top: $top-padding;
  margin-left: 50px;
  display: grid;
  grid-template-columns: 70% 20px 25%;
  grid-template-rows: 100px 50px auto;
  max-height: 90vh;
  #canvas-container {
    display: flex;
    justify-content: center;
  }

  .column1 {
    max-width: 1000px;
  }

  .row0 {
    grid-row: 1;
    max-width: 1000px;
    .links {
      float: right;
      width: 300px;
      display: flex;
      justify-content: space-between;  
    }
  }

  .row1 {
    grid-row: 2;
    max-width: 1000px;
    .buttons {
      float: right;
      width: 400px;
      display: flex;
      justify-content: space-between;  
    }
  }

  .row2 {
    max-width: 1000px;
    grid-row: 3;
  }
}

#controls {
  position: relative;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 40px 0;
  max-width: 300px;
  min-width: 200px;
  padding: 10px;
  grid-row: 3;
  grid-column: 3;
}

.btn {
  border: none;
  border-radius: 0;
  padding: 10px;
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 550;
  letter-spacing: 0.3px;
  font-size: 14px;
  &.bg-red {
    &:hover {
      background-color: lighten($color: $primary-color, $amount: 5);
      opacity: 0.7;
    }
  }

  &.bg-green {
    &:hover {
      background-color: lighten($color: $green, $amount: 5);
      opacity: 0.7;
    }
  }

  &.bg-blue {
    &:hover {
      background-color: lighten($color: $blue, $amount: 5);
      opacity: 0.7;
    }
  }
}