$body-color: #fff;
$top-padding: 80px;
$primary-color: rgb(214, 3, 3);

 
body {
  background-color: $body-color;
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}

nav {
  display: flex;
  font-size: 20px;
  position: relative;
  top: 20px;
  left: 20px;
  width: 600px;
  z-index: 10;
  text-align: center;
  align-items: center;

  button {
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid darkgray;
    border-radius: 5px;
    color: darkgray;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 1.2px;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    outline: none;

    &.active {
      span {
        opacity: 0.7;
      }
      color: white;
      background-color: rgb(39, 70, 247);
    }
  }
}

h1 {
  font-family: 'Playfair Display', serif;
  letter-spacing: 0.3px;
  text-transform: uppercase;

  &.title {
    font-size: 1.7em;
    margin: 0 20px 0 0;
  }
}

p {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
  line-height: 1.2em;
  letter-spacing: 0.2px;
  opacity: 0.7;
}

label {
  background-color: $primary-color;
  padding: 10px;
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 550;
  letter-spacing: 0.3px;
  font-size: 14px;
  display: block;
  cursor: pointer;
  input[type=file] {
    display: none;
  }
  &:hover {
    background-color: lighten($color: $primary-color, $amount: 5);
    opacity: 0.7;
  }
}

.container {
  position: relative;
  padding-top: $top-padding;
  margin-left: 50px;
  display: grid;
  grid-template-columns: 70% 20px 25%;
  grid-template-rows: 50px auto;
  max-height: 90vh;
  #canvas-container {
    display: flex;
    justify-content: center;
  }

  .row1 {
    display: flex;
    justify-content: space-between;
    grid-row: 1;
    .left-buttons {
      width: 280px;
      display: flex;
      justify-content: space-between;
      
    }
  }

  .row2 {
    grid-row: 2;
  }
}

#controls {
  position: relative;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 40px 0;
  max-width: 300px;
  min-width: 200px;
  padding: 10px;
  grid-row: 2;
  grid-column: 3;
  // box-shadow: 20px 20px 20px 1px #ccc;
}

.btn {
  border: none;
  border-radius: 0;
  padding: 10px;
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 550;
  letter-spacing: 0.3px;
  font-size: 14px;
  &.primary {
    background: $primary-color;
    &:hover {
      background-color: lighten($color: $primary-color, $amount: 5);
      opacity: 0.7;
    }
  }
}